#indexContainer {
  background: #e76f51 !important;
  color: white;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100%; }

#mainContainer {
  width: 55%;
  max-width: 75rem;
  min-width: 50rem;
  min-height: 20rem;
  display: block;
  margin: 10vh auto; }

#indexContainer a {
  color: white !important; }

#indexContainer .col {
  border-radius: 8px;
  min-height: 32rem; }

#indexContainer .indexSideOne {
  background: #2a9d8f !important;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding: 2% 2rem 3rem; }

#indexContainer .indexSideOne h5 > span {
  border-bottom: 1px solid white; }

#indexContainer .indexSideOne li {
  list-style-type: disc;
  margin-left: 1rem; }

#indexContainer .indexSideTwo {
  background: #264653 !important;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 2rem 2rem 3rem 3rem;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }
