// Custom CSS
body {padding:50px;}

#loginContainer {
  background: $loginbackground;
  color: $textColor;
  .loginArea {
    max-width: 75rem;
    margin: 2% auto;
    .col-md-6 {
      padding: 1rem;
      border-radius: 5px;
      height: 75vh;
      min-height: 50rem;
      .half-capsuleL {
        border-top-left-radius: 2rem !important;
        background: $loginAd;
        border-bottom-left-radius: 2rem !important;
        margin-right: -4px !important;
        cursor: pointer;
      }
      .half-capsuleR {
        border-top-right-radius: 2rem !important;
        background: #33b5e5;
        border-bottom-right-radius: 2rem !important;
        margin-left: 0 !important;
        cursor: pointer;
      }
      .small-capsule {
        padding: 5px 12px;
        font-size: 1rem;
        text-transform: capitalize;
        cursor: pointer;
        margin-top: 2rem;
        border-radius: 2px;
        border: 0;
        color: #fff!important;
        white-space: normal!important;
      }
    }
    .col-md-6:first-child {
      background: $loginAd;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      padding: 15% 2rem 3rem;
      .app_logo {
        font-size: 4rem;
        position: absolute;
        top: 0;
        left: 3rem;
      }
      .app_logo i {
        margin-right: 1rem;
      }
      .app-tagLine {
        text-align: center;
      }
      i.x-large-logo {
        font-size: 13rem;
        display: block;
        text-align: center;
        margin-bottom: 1rem;
        margin-top: 3rem;
      }
      .quickstart {
        margin-top: 3rem;
        padding-bottom: 1rem;
        p {
          font-weight: 500;
          font-size: 1.8rem;
          padding-left: 1.5rem;
        }
        ul {
          padding-left: 3.5rem;
        }
      }
    }
    .col-md-6:nth-child(2) {
      background: $loginFormSide;
      padding-top: 2rem;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      padding: 1rem 2rem 3rem 3rem;
      .forms {
        padding-top: 10%;
        #goSignIn,
        #goSignUp {
          margin-right: 1rem;
          font-size: 1.7rem;
          cursor: pointer;
        }
        #goSignIn.inactive,
        #goSignUp.inactive {
          color: #808080 !important;
        }
        form#SignUpForm {
          padding-top: 3rem;
          padding-bottom: 3rem;
          label {
            display: inline-block;
            max-width: 100%;
            margin-bottom: 5px;
            font-weight: normal;
            text-transform: capitalize;
          }
          .form-control {
            background: transparent;
            color: white;
          }
          button[type="submit"] {
            background: $loginAd;
            color: white;
            border-radius: 2rem;
            padding: 7px 2.5rem;
            font-size: 1.7rem;
            margin-right: 2rem;
          }
          button[type="submit"]+a {
            font-size: 1.4rem;
            border-bottom: 1px solid;
            color: white;
            cursor: pointer;
          }
          button[type="submit"]+a:hover {
            color: #808080;
          }
        }
      }
    }
  }
}

#board {
  background: #2a9d8f;
  position: fixed;
  overflow-y: auto;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0; // width: 100%;
  aside#sidemenu {
    height: 100vh;
    overflow-y: auto;
    background: $loginFormSide;
    color: $textColor;
    padding: 0 2rem;
    #userProfile {
      padding: 2rem 0.5rem;
      img {
        width: 10rem;
        border-radius: 50%;
        margin: auto;
        display: block;
      }
      .user_displayName {
        text-align: center
      }
      span.user_username {
        text-align: center;
        display: block;
        color: #EEEEEE;
      }
    }
    .groups {
      padding-left: 1rem;
      a {
        color: $textColor;
        font-weight: 300;
        h4 {
          padding-left: 1rem;
          font-weight: 400
        }
        i.fa {
          margin-left: 0.5rem;
        }
      }
      li {
        list-style-type: square;
      }
    }
    .starred-groups {
      margin-top: 35%;
    }
  }
  main {
    padding: 0;
    nav.navbar.navbar-default {
      background-color: rgba(231, 111, 81, 0);
      border-color: transparent;
      border-radius: 0;
      border-bottom: 2px solid #009688;
      a.icon-container {
        color: white;
        padding: 1.5rem 3rem;
        i.fa {
          font-size: 3rem;
        }
      }
      .form-control {
        background: transparent;
        color: white;
        border: 0;
        border-bottom: 2px solid white;
        border-radius: 0;
      }
      .form-control::placeholder {
        color: $textColor;
      }
      button,
      button:hover {
        color: #fff;
        background-color: rgba(255, 255, 255, 0.03);
        font-size: 2rem;
        border-color: rgba(204, 204, 204, 0.04);
        padding-left: 0;
      }
      .navbar-header {
        margin-left: 30%;
        a.navbar-brand {
          color: $textColor;
          font-size: 4rem;
          margin-top: -10px;
        }
      }
    }
    #main_board {
      aside#user_scroll {
        background: #264653;
        border-left: 2px solid #2a9d8f;
        border-right: 2px solid #d8d1d1;
        margin-left: 1.5rem;
        margin-top: -2rem;
        height: 92vh;
        overflow-y: scroll;
        padding: 1rem 0 2rem;
        ul {
          padding: 0;
        }
        li {
          list-style-type: none;
          a {
            img {
              width: 6rem;
              height: 6rem;
              border-radius: 50%;
              border: 2px solid #2a9d8f;
              display: block;
              margin: 1rem auto;
            }
          }
        }
      }
      #board_area {
        width: 89.66667%;
        .chats {
          max-height: 90vh;
          overflow-y: auto;
          .chat {
            max-width: 60%;
            font-size: 2rem;
            min-width: 45%;
            margin-top: 2rem;
            img {
              border-radius: 50%;
              width: 6.5rem;
            }
            .chatbox {
              background: white;
              border-top-right-radius: 3rem;
              border-bottom-right-radius: 1rem;
              border-bottom-left-radius: 3rem;
              border-top-left-radius: 0rem;
              margin-left: 7rem;
              padding: 1rem 0.5rem 1rem 1rem;
            }
          }
          .someoneChat.chat {
            float: left;
            img {
              float: left;
            }
          }
          .myChat.chat {
            float: right;
            img {
              float: right;
            }
            .chatbox {
              margin-left: 0;
              margin-right: 7rem;
              border-top-left-radius: 3rem;
              border-bottom-left-radius: 1rem;
              border-bottom-right-radius: 3rem;
              border-top-right-radius: 1rem;
            }
          }
        }
        #message-sender {
          position: fixed;
          bottom: -0.5rem;
          width: 75%;
          margin-left: -1.5%;
          .form-group {
            padding-right: 0;
            .form-control {
              border: 2px solid #264653;
              line-height: 5rem;
              height: 5rem;
              font-size: 2rem;
              padding: 2px 1rem;
              border-top-right-radius: 0;
              border-bottom-right-radius: 0;
            }
          }
          button.btn {
            height: 5rem;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            font-size: 2rem;
            background: #264653;
            color: white;
          }
        }
      }
    }
  }
}

.right-align {
  text-align: right;
}
