<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>PostIt</title>
    <!-- Bootstrap core CSS -->
    <link href="css/style.css" rel="stylesheet">
</head>

<body>

<div class="container">

    <div>
        <!--sidemenu-->
        <div>
            <!--user profile detail-->
            <img src="" alt="">
            <h4>Aminujatto Abdulqahhar</h4>
            <span>@jattoade</span>
        </div><!-- end user profile detail-->

        <div>
            <!--other menu (starred) + (group with a + -add button)-->
            <p>
                <a href="">Starred</a>
                <span>
                    <ul>
                        <li>group1</li>
                        <li>Group2</li>
                    </ul>
                </span>
            </p>

            <p>
                <a href="">Groups</a>
                <span>
                    <ul>
                        <li>Group 1</li>
                        <li>Group 2</li>
                        <li>Group 3</li>
                    </ul>
                </span>
            </p>
        </div><!-- end other menu (starred) + (group with a + -add button)-->
    </div><!--end sidemenu-->

    <div>
        <!-- main body-->
        <div>
            <!--app header with a popup menu button, search form app logo and a home icon menu-->
            <a href="">
                navicon
                <!--On the left and a popup menu-->
            </a>
            <p>
                <i>icon-speaker</i>PostIt
                <!--(Centered)-->
            </p>
            <a href="">
                <i>icon-home</i>
                <!--link to home or default page-->
            </a>
            <p>
                search form
                <!--search form-->
            </p>
        </div><!-- end app header with a popup menu button, search form app logo and a home icon menu-->
        <div>
            <!--online users(when on group search) or users who have read the message-->
            <span><i>arrow-up</i></span>
            <span>...</span>

            <ul>
                <li><img src="" alt=""></li>
                <li><img src="" alt=""></li>
                <li><img src="" alt=""></li>
                <li><img src="" alt=""></li>
            </ul>

            <span><i>arrow-down</i></span>
        </div><!-- end online users(when on group search) or users who have read the message-->
        <div>
            <!-- main group list view body (the browse group interface)-->
            <h4>Browse All Groups</h4>
            <div>
                <!--pagination-->
                <ul>
                    <li>1</li>
                    <li>2</li>
                    <li>...</li>
                    <li>50</li>
                </ul>
            </div> <!-- end of pagination -->
            <div>
                <!--browse group area-->
                <ul>
                    <li>
                        <h6>Group Name</h6>
                        <span>group description goes here</span>
                        <span>created on 23-12-2017</span>
                        <span>badge(2users)</span>
                    </li>
                    <li>
                        <h6>Group Name 2</h6>
                        <span>group description goes here</span>
                        <span>created on 21-07-2017</span>
                        <span>badge(2users)</span>
                    </li>
                </ul>
            </div><!--end of browse group area-->
            <div>
                <!--search form-->
                search form (for live filtering)
            </div><!--end of group browse search form (filtering live)-->
        </div><!-- end search form body -->

    </div><!-- end main body-->

</div><!-- /.container -->

</body>
</html>
