<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>PostIt</title>

    <!--css entry point-->
    <link href="../public/css/app.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div id="board" class="row">
        <!--sidemenu-->
        <aside id="sidemenu" class="col-sm-2">
            <!--user profile detail-->
            <div id="userProfile">
                <img src="http://i.pravatar.cc/150?img=59" alt="">
                <h4 class="user_displayName">Aminujatto Abdulqahhar</h4>
                <span class="user_username">@jattoade</span>
            </div>
            <!--end user profile detail-->
            <div class="starred-groups groups">
                <a href="#">
                    <h4>Starred <i class="fa fa-star"></i></h4>
                </a>
                <ul>
                    <li><a href="#">Group A</a></li>
                    <li><a href="#">Group B</a></li>
                    <li><a href="#">Group C</a></li>
                </ul>
            </div>
            <div class="other-groups groups">
                <a href="#">
                    <h4>Groups <i class="fa fa-plus"></i></h4>
                </a>
                <ul>
                    <li><a href="#">Group 1</a></li>
                    <li><a href="#">Group 2</a></li>
                    <li><a href="#">Group 3</a></li>
                </ul>
            </div>
            <div class="direct-messages groups">
                <a href="#">
                    <h4>Messages <i class="fa fa-paper-plane"></i></h4>
                </a>
                <ul>
                    <li><a href="#">Tony</a></li>
                    <li><a href="#">Adeola</a></li>
                    <li><a href="#">Chuks</a></li>
                </ul>
            </div>
        </aside>
        <main class="col-sm-10">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-left">
                        <a href="#" class="navbar-brand icon-container">
                            <i class="fa fa-navicon"></i>
                        </a>
                    </div>
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">
                            <i class="fa fa-bullhorn"> </i> POSTiT
                        </a>
                    </div>
                    <form class="navbar-form navbar-right" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search">
                        </div>
                        <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                    </form>
                </div>
            </nav>
            <div id="main_board" class="row">
                <aside id="user_scroll" class="col-sm-1">
                    <ul>
                        <li>
                            <a href="$#">
                                <img src="http://i.pravatar.cc/80?img=23" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="$#">
                                <img src="http://i.pravatar.cc/80?img=59" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="$#">
                                <img src="http://i.pravatar.cc/80?img=20" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="$#">
                                <img src="http://i.pravatar.cc/80?img=34" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="$#">
                                <img src="http://i.pravatar.cc/80?img=17" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="$#">
                                <img src="http://i.pravatar.cc/80?img=18" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="$#">
                                <img src="http://i.pravatar.cc/80?img=21" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="$#">
                                <img src="http://i.pravatar.cc/80?img=34" alt="">
                            </a>
                        </li>
                    </ul>
                </aside>
                <div id="board_area" class="col-sm-11">
                    <h2 class="center-align browse-group-heading">Browse all groups</h2>
                    <div id="paginationArea" class="center-align">
                        <nav aria-label="Page navigation" class="">
                          <ul class="pagination">
                            <li>
                              <a href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                              </a>
                            </li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li>
                              <a href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                              </a>
                            </li>
                          </ul>
                        </nav>
                    </div>
                    <div id="groupListItem" class="chats" >
                        <div class="someoneChat chat">
                            <i class="sender-image">badge</i>
                            <div class="chatbox">
                                <h3>Group Name 2</h3>
                                <p>Group description goes in here, alot of junk will go in here</p>
                                <span>created on 23-12-2017</span>
                            </div>
                        </div>
                    </div>
                    <div id="group-search">
                        <form>
                            <div class="form-group col-sm-10">
                                <input type="text" class="form-control" id="" placeholder="Search Group name">
                            </div>
                            <!-- <button class="btn col-sm-2">Send</button> -->
                        </form>
                    </div>
                    <div id="addGroupFab" class="fixed-action-btn">
                        <a class="btn red btn-floating btn-lg circular" >
                            <i class="fa fa-plus white-text"></i>
                        </a>
                    </div>
                </div>

            </div>
        </main>
    </div><!-- /.container -->

<!-- Bootstrap core JavaScript
    ================================================== -->
    <script src="../public/js/app.js"></script>
    <!--<script src="js/main.js"></script>-->
</body>
</html>
